* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
button:active {
  color: #2196f3;
}
button:hover, button:focus {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container, .portfolio, .clients__box, .article__container, .header__container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section, .footer, .clients, .main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section, .footer, .clients, .main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ececec;
}

.header__container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  padding: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .header__link {
    display: none;
  }
  .header__link--item {
    display: none;
  }
}
.header__mobile-button {
  border: none;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.header__mobile-button:hover,
.header__mobile-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__mobile-button {
    display: none;
  }
}
.header__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
}
.header__title--blue {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  letter-spacing: 0.03em;
}

.header__link--active:hover,
.header__link--active:focus,
.header__link--active:active {
  color: #2196f3;
}

.header__link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid #2196f3;
  width: 57px;
  padding-top: 27px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: 371px;
}
@media screen and (max-width: 480px) {
  .header__nav {
    display: none;
  }
}

.header__link {
  text-decoration: none;
  color: #212121;
}
.header__link--active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  position: relative;
}
.header__link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid #2196f3;
  width: 57px;
  padding-top: 27px;
}

.header__link:hover,
.header__link:focus {
  color: #2196f3;
}

.header__link:hover svg,
.header__link:hover svg {
  fill: #2196f3;
}

.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 auto;
}
.header__contact:last-child {
  margin-left: 50px;
}
@media screen and (max-width: 480px) {
  .header__contact {
    display: none;
  }
}

.header__icon--mail {
  width: 16px;
  height: 12px;
  padding-top: 2px;
}

.header__icon--phone {
  width: 10px;
  height: 16px;
  padding-top: 4px;
}

.header__page .header__link .header__link--active {
  display: block;
}

.js-close-menu {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 25px;
  top: 21px;
  font-size: 26px;
}
.js-close-menu:hover {
  color: #2196f3;
}

.js-menu-container {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: #ffffff;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 5;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__list {
  padding-top: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__item--contact {
  padding-top: 302px;
}

.mobile-menu__list--blue {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__item--socials {
  padding-top: 32px;
}

.mobile-menu__list--contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__item--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 27px;
}

.mobile-menu__list--socials {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.main {
  text-align: center;
  background: #2f303a;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-mobile.jpg");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-mobilex2.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-mobilex2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-tablet.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-tabletx2.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-tabletx2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-desktop.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-desktopx2.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-desktopx2.jpg");
  }
}
.main__container {
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 42px 10px 41px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

.article {
  padding-top: 94px;
  padding-bottom: 94px;
}
.article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.article h5 {
  color: #757575;
  text-align: left;
  font-size: 14px;
}
.article p {
  text-align: left;
}

.article__item {
  background-color: rgb(245, 244, 250);
  display: inline-block;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
}

.article__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  text-align: left;
  letter-spacing: 0.03em;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.article__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hotblack);
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.article__box, .article__name {
  position: relative;
}

.article__img {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article__name {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  padding: 27px;
}

.article__icon {
  width: 70px;
  height: 70px;
}
.article__icon:hover svg .article__icon:after svg {
  fill: #2196f3;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__container {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}

.team__list {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0px;
  background: #ffffff;
}

.team__name {
  font-weight: 500;
  text-align: center;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.team__position {
  color: #757575;
  text-align: center;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 1em;
}

.team__svg {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__icon {
  fill: #afb1b8;
}

.team__svg:hover svg,
.team__svg:focus svg {
  fill: #ffffff;
}

.team__svg:hover,
.team__svg:hover {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
}

.clients__container {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.clients__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  left: 215px;
  top: 2493px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__svg:hover svg,
.clients__svg:hover svg {
  fill: #2196f3;
}

.clients__svg:hover,
.clients__svg:after {
  cursor: pointer;
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.footer {
  background: #2f303a;
}

.footer__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 360px;
}

.footer__logo {
  padding-right: 70px;
}

.footer__link--blue {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  letter-spacing: 0.03em;
}

.footer__link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.footer__adress {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  letter-spacing: 0.03em;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  display: block;
  letter-spacing: 0.03em;
}
.footer__contact:hover .footer__contact:focus {
  color: #2196f3;
}

.footer__social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__social p {
  margin-bottom: 20px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__svg {
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.footer__icon {
  fill: #ffffff;
}

.footer__svg:hover,
.footer__svg:focus {
  cursor: pointer;
  background-color: #2196f3;
}

.footer__label input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  margin-left: 78px;
}

.footer__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 78px;
}

.footer__input::-webkit-input-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer__input::-moz-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer__input:-ms-input-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer__input::-ms-input-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer__input::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer_button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
  margin-left: 12px;
  padding-right: 30px;
}

.footer__svg--sign-up {
  position: relative;
  fill: #ffffff;
  right: 60px;
  top: 8px;
}

.portfolio__list {
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 56px;
  font: inherit;
}
.portfolio__button {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  color: #212121;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__button:hover,
.portfolio__button:after {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background: #2196f3;
  color: #ffffff;
}

.offer ul {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 94px;
}

.offer__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.offer__item {
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offer__item:after,
.offer__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.offer__animation {
  position: relative;
  overflow: hidden;
}

.offer__item:hover .offer__info {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.offer__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offer__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin-left: 24px;
  letter-spacing: 0.06em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.offer__description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  text-align: left;
  margin-left: 24px;
  letter-spacing: 0.03em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 520px;
  min-height: 581px;
  background-color: #ffffff;
}
.modal__button--close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  color: var(--lightgray);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal__label:focus-within {
  fill: #2196f3;
}

.modal__input {
  display: block;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-top: 4px;
  padding-left: 30px;
}
.modal__svg {
  position: absolute;
  top: 32px;
  left: 50px;
}
.modal__textarea {
  display: block;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  margin-top: 4px;
  outline: none;
}
.modal__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea:focus {
  border: 1px solid #2196f3;
}
.modal__text {
  margin-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__check label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__check input {
  margin-right: 9px;
  cursor: pointer;
  margin-left: 57px;
  margin-top: 20px;
}
.modal__check a {
  color: #2196f3;
}
.modal__check a:hover .modal_-check a:focus {
  text-decoration: underline;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input--check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: solid black 1px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input--check:checked {
  background-color: #2196f3;
  background-image: url(./images/check3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 2px;
}

.modal__container {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #212121;
  width: 448px;
  height: 23px;
}

.modal__button button {
  margin-left: 164px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
}
.modal__button button:hover .modal__button button:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}/*# sourceMappingURL=main.css.map */