* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
button:active {
  color: #2196f3;
}
button:hover, button:focus {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container, .header__page {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section, .main__header {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container, .header__page {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section, .main__header {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ececec;
}

.header__page {
  padding: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__page-link--blue {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  letter-spacing: 0.03em;
}
.header__page-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
}

.header__nav-link--active:hover,
.header__nav-link--active:focus,
.header__nav-link--active:active {
  color: #2196f3;
}

.header__nav-link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid #2196f3;
  width: 57px;
  padding-top: 27px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: 371px;
}
.header__nav-link--active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  position: relative;
}
.header__nav-link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid #2196f3;
  width: 57px;
  padding-top: 27px;
}
.header__nav-link {
  text-decoration: none;
  color: #212121;
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: #2196f3;
}

.header__nav-link:hover svg,
.header__nav-link:hover svg {
  fill: #2196f3;
}

.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 auto;
}
.header__contact:last-child {
  margin-left: 50px;
}
.header__contact-icon--mail {
  width: 16px;
  height: 12px;
  padding-top: 2px;
}
.header__contact-icon--phone {
  width: 10px;
  height: 16px;
  padding-top: 4px;
}

.header__page .header__nav-link .header__nav-link--active {
  display: block;
}

.main__header {
  text-align: center;
  background: #2f303a;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/team.jpg");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main__header-title {
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main__header-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 42px 10px 41px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

.work__description {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__description h5 {
  color: #757575;
  text-align: left;
  font-size: 14px;
}
.work__description p {
  text-align: left;
}
.work__description-item {
  background-color: rgb(245, 244, 250);
  display: inline-block;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
}
.work__description-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  text-align: left;
  letter-spacing: 0.03em;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.work__description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hotblack);
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}
.work__description-box {
  position: relative;
}
.work__description-img {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__description-box .work__description-name {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  padding: 27px;
}

.work__description-icon {
  width: 70px;
  height: 70px;
}
.work__description-icon:hover svg .work__description-icon:after svg {
  fill: #2196f3;
}

.section__team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}
.section__team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}
.section__team-list {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0px;
  background: #ffffff;
}
.section__team-name {
  font-weight: 500;
  text-align: center;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}
.section__team-position {
  color: #757575;
  text-align: center;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}
.section__team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 1em;
}
.section__team-svg {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__team-icon {
  fill: #afb1b8;
}

.section__team-svg:hover svg,
.section__team-svg:focus svg {
  fill: #ffffff;
}

.section__team-svg:hover,
.section__team-svg:hover {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
}

.clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.clients__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  left: 215px;
  top: 2493px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__svg:hover svg,
.clients__svg:hover svg {
  fill: #2196f3;
}

.clients__svg:hover,
.clients__svg:after {
  cursor: pointer;
  border: 1px solid #2196f3;
}

.clients__svg-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

footer {
  background: #2f303a;
}

.footer__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 360px;
}

.footer__logo {
  padding-right: 70px;
}
.footer__logo-link--blue {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  letter-spacing: 0.03em;
}
.footer__logo-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
.footer__logo-adress {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  letter-spacing: 0.03em;
}
.footer__logo-contact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  display: block;
  letter-spacing: 0.03em;
}
.footer__logo-contact:hover .footer__logo-contact:focus {
  color: #2196f3;
}

.footer__social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__social p {
  margin-bottom: 20px;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-svg {
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.footer__social-icon {
  fill: #ffffff;
}

.footer__social-svg:hover,
.footer__social-svg:focus {
  cursor: pointer;
  background-color: #2196f3;
}

.footer__label-sign-up input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  margin-left: 78px;
}

.footer__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 78px;
}

.footer__input::-webkit-input-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer__input::-moz-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer__input:-ms-input-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer__input::-ms-input-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer__input::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}

.footer_btn-sign-up {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
  margin-left: 12px;
  padding-right: 30px;
}

.footer__svg-sign-up {
  position: relative;
  fill: #ffffff;
  right: 60px;
  top: 8px;
}

.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__nav-list {
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 56px;
  font: inherit;
}
.portfolio__nav-btn {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  color: #212121;
}

.portfolio__nav-btn:hover,
.portfolio__nav-btn:after {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background: #2196f3;
  color: #ffffff;
}

.container__portfolio ul {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 94px;
}

.portfolio__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.portfolio__item {
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:after,
.portfolio__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio__animation {
  position: relative;
  overflow: hidden;
}

.portfolio__item:hover .portfolio__info {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.portfolio__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin-left: 24px;
  letter-spacing: 0.06em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.portfolio__item-description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  text-align: left;
  margin-left: 24px;
  letter-spacing: 0.03em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 520px;
  min-height: 581px;
  background-color: #ffffff;
}
.modal__close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  color: var(--lightgray);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal__label:focus-within {
  fill: #2196f3;
}
.modal__label-input {
  display: block;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-top: 4px;
  padding-left: 30px;
}
.modal__label-svg {
  position: absolute;
  top: 32px;
  left: 50px;
}
.modal__label-textarea {
  display: block;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  margin-top: 4px;
  outline: none;
}
.modal__label-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__label-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__label-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__label-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__label-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__label-textarea:focus {
  border: 1px solid #2196f3;
}
.modal__label-text {
  margin-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__label-check label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__label-check input {
  margin-right: 9px;
  cursor: pointer;
  margin-left: 57px;
  margin-top: 20px;
}
.modal__label-check a {
  color: #2196f3;
}
.modal__label-check a:hover .modal__label-check a:focus {
  text-decoration: underline;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label-input-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: solid black 1px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label-input-check:checked {
  background-color: #2196f3;
  background-image: url(./images/check3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 2px;
}

.modal__instruction {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #212121;
  width: 448px;
  height: 23px;
}

.modal__button button {
  margin-left: 164px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
}
.modal__button button:hover .modal__button button:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input:focus {
  border: 1px solid #2196f3;
}/*# sourceMappingURL=main.css.map */