* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container, .portfolio-nav, .footer__container, .team__list, .team__item, .article-hidden__container, .article__container, .header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section, .portfolio-nav__container, .main {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .container, .portfolio-nav, .footer__container, .team__list, .team__item, .article-hidden__container, .article__container, .header__container {
    max-width: 1200px;
  }
  .section, .portfolio-nav__container, .main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
header {
  margin: 0 auto;
}

.section, .portfolio-nav__container, .main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ececec;
  margin: 0 auto;
}

.header__container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  padding: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mobile-button {
  background-color: transparent;
  border: none;
  color: none;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__mobile-button {
    display: none;
  }
}

.header__mobile-button:hover,
.header__mobile-button:focus {
  fill: #2196f3;
}

.header__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
}
.header__title--blue {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: #2196f3;
  letter-spacing: 0.03em;
}

.header__link--active:hover,
.header__link--active:focus,
.header__link--active:active {
  color: #2196f3;
}

.header__link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid #2196f3;
  width: 57px;
  padding-top: 27px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: 371px;
  display: none;
  margin-left: 93px;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__link {
  text-decoration: none;
  color: #212121;
}
.header__link--active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  position: relative;
}
.header__link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid #2196f3;
  width: 57px;
  padding-top: 27px;
}

.header__link:hover,
.header__link:focus {
  color: #2196f3;
}

.header__link:hover svg,
.header__link:hover svg {
  fill: #2196f3;
}

.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 auto;
  display: none;
}
.header__contact:last-child {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__icon--mail {
  width: 16px;
  height: 12px;
  padding-top: 2px;
}

.header__icon--phone {
  width: 10px;
  height: 16px;
  padding-top: 4px;
}

.header__page .header__link .header__link--active {
  display: block;
}

.js-close-menu {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 25px;
  top: 21px;
  font-size: 26px;
}
.js-close-menu:hover {
  color: #2196f3;
}

.js-menu-container {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: #ffffff;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 5;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__list {
  padding-top: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}
.mobile-menu__item--contact {
  padding-top: 302px;
}
.mobile-menu__list--blue {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__item--socials {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 27px;
}
.mobile-menu__list--contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu__list--socials {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 1px solid #757575;
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;
}
.mobile-menu__list--socials:first-child {
  padding-left: 0;
}
.mobile-menu__list--socials:last-child {
  border-right: none;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #2196f3;
}

.main {
  text-align: center;
  background: #2f303a;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-mobile.jpg");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-mobilex2.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-mobilex2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-tablet.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-tabletx2.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-tabletx2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-desktop.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-img-desktopx2.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/header-img-desktopx2.jpg");
  }
}
.main__container {
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 42px 10px 41px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.main__button:active {
  color: #2196f3;
}
.main__button:hover, .main__button:focus {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.article {
  padding-top: 94px;
  padding-bottom: 94px;
}
.article__items {
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
  list-style: none;
  line-height: 1.71;
  padding-left: 0px;
  margin: 0 auto;
  padding-right: 20px;
}
.article__text {
  text-align: justify;
}
.article__list {
  max-width: 100%;
  text-align: center;
}
.article-hidden {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .article-hidden {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .article__text {
    text-align: start;
  }
  .article__items {
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .article h5 {
    text-align: start;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .article__list {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.article-hidden__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.article__item {
  background-color: rgb(245, 244, 250);
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 10px;
  margin-right: 100px;
  margin-bottom: 30px;
  width: 100%;
}

.article__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  text-align: start;
  padding-left: 10px;
  letter-spacing: 0.03em;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.article-hidden__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hotblack);
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.article-hidden__box, .article-hidden__name {
  position: relative;
}

.article-hidden__img {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-hidden__name {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  padding: 27px;
}

.article__icon {
  width: 70px;
  height: 70px;
}
.article__icon:hover svg .article__icon:after svg {
  fill: #2196f3;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}
.team__photo {
  max-width: 100%;
  margin: 0 auto;
}

.team__container {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.team__list {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0px;
  background: #ffffff;
}

.team__name {
  font-weight: 500;
  text-align: center;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.team__position {
  color: #757575;
  text-align: center;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 1em;
  -ms-flex-line-pack: center;
      align-content: center;
}

.team__svg {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__icon {
  fill: #afb1b8;
}

.team__svg:hover svg,
.team__svg:focus svg {
  fill: #ffffff;
}

.team__svg:hover,
.team__svg:hover {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .team__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.clients__div {
  margin-right: 30px;
  margin-bottom: 60px;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
.clients__container {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
  margin-bottom: 30px;
  margin-top: 60px;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__svg {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__svg svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__svg:hover, .clients__svg:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}
.clients__svg:hover .clients__icon, .clients__svg:focus .clients__icon {
  color: #2196f3;
  fill: #2196f3;
}
.clients__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:focus .clients__svg .clients__icon {
  color: #2196f3;
  fill: #2196f3;
}
.clients__link:focus .clients__svg {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients__svg {
    width: 170px;
  }
  .clients__list li {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.footer {
  background-color: #2f303a;
}

.div-footer__btn-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin-bottom: 20px;
  text-align: center;
}
.footer__adress {
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 9px;
}
.footer__link {
  color: #ffffff;
  text-decoration: none;
}
.footer__link--blue {
  color: #2196f3;
}
.footer__contact-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.footer__contact-item {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
  text-align: center;
}
.footer__contact-item--margin-bottom {
  margin-bottom: 9px;
}
.footer__contact-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-link:hover, .footer__contact-link:focus {
  color: #2196f3;
}
.footer__socials {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 60px;
}
.footer__socials-join-us {
  margin-bottom: 20px;
  text-align: center;
}
.footer__social-icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 15px;
}
.footer__icon {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__socials-div {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-div:hover, .footer__socials-div:focus {
  background-color: #2196f3;
  cursor: pointer;
}
.footer__icon-link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon-link:focus .footer__socials-div {
  background-color: #2196f3;
}
.footer__label-sign-up {
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__btn-sign-up {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  line-height: 1.88;
}
.footer__svg-btn {
  margin-left: 24px;
  position: relative;
  top: 5px;
  fill: #ffffff;
}
.footer__btn-sign-up {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  cursor: pointer;
}
.footer__btn-sign-up:active {
  color: #2196f3;
}
.footer__btn-sign-up:hover, .footer__btn-sign-up:focus {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-email-input {
  background-color: #2f303a;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-email-input {
  padding: 16px;
}

.footer__mobile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 144px;
  }
  .footer__sign-up {
    max-width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__mobile {
    width: auto;
    margin-left: auto;
    margin-bottom: 100px;
  }
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0px;
  }
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__logo {
    text-align: start;
  }
  .footer__desktop {
    width: 246px;
  }
  .footer__contact-list {
    padding-right: 120px;
  }
  .footer__social-icon-div {
    margin-left: 70px;
  }
  .footer-email-input {
    width: 350px;
  }
  .footer__sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
  }
  .footer__btn-sign-up {
    margin-top: 0px;
    margin-left: 12px;
  }
}
.portfolio-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}
.portfolio-nav__btn {
  width: 100%;
  background-color: #f5f4fa;
  color: #757575;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.6;
  border-radius: 4px;
  border: none;
  padding: 6px 25px 6px 25px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__btn:hover, .portfolio-nav__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-nav__item--margin {
  margin-right: 0px;
}

.portfolio__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2f303a;
  font-size: 16px;
}
.portfolio__item--header {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: #757575;
  padding-left: 24px;
  padding-top: 20px;
  border-right: 1px #ececec solid;
  border-left: 1px #ececec solid;
}
.portfolio__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: block;
}
.portfolio__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item {
  width: 100%;
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__info {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}
.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio__item-description {
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
  border-bottom: 1px #ececec solid;
  border-right: 1px #ececec solid;
  border-left: 1px #ececec solid;
  line-height: 1.9;
}

@media screen and (min-width: 768px) {
  .portfolio-nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 520px;
  min-height: 581px;
  background-color: #ffffff;
}
.modal__button--close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  color: var(--lightgray);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal__label:focus-within {
  fill: #2196f3;
}

.modal__input {
  display: block;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-top: 4px;
  padding-left: 30px;
}
.modal__svg {
  position: absolute;
  top: 32px;
  left: 50px;
}
.modal__textarea {
  display: block;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  margin-top: 4px;
  outline: none;
}
.modal__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal__textarea:focus {
  border: 1px solid #2196f3;
}
.modal__text {
  margin-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__check label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__check input {
  margin-right: 9px;
  cursor: pointer;
  margin-left: 57px;
  margin-top: 20px;
}
.modal__check a {
  color: #2196f3;
}
.modal__check a:hover .modal_-check a:focus {
  text-decoration: underline;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input--check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: solid black 1px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input--check:checked {
  background-color: #2196f3;
  background-image: url(./images/check3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 2px;
}

.modal__container {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #212121;
  width: 448px;
  height: 23px;
}

.modal__button button {
  margin-left: 164px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
}
.modal__button button:hover .modal__button button:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}/*# sourceMappingURL=main.css.map */