* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--hotblack);
  background: var(--white);
}
:root {
  --pink: #8b008b;
  --blue: #0000ff;
  --lowblue: #2196f3;
  --black: #000000;
  --hotblack: #212121;
  --gray: #757575;
  --white: #ffffff;
  --lowgray: #2f303a;
  --lightgrey: #f5f4fa;
  --red: #ff0000;
  --nextgray: #afb1b8;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: var(--hotblack);
}
.link:hover,
.link:focus {
  color: var(--lowblue);
}
.link:hover svg,
.link:hover svg {
  fill: var(--lowblue);
}
.header-pages {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: 371px;
}
.header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 auto;
}
.header-links:last-child {
  margin-left: 50px;
}
.header-icon-phone {
  width: 10px;
  height: 16px;
  padding-top: 4px;
}
.header-icon-phone:hover,
.header-icon-phone:after {
  fill: var(--lowblue);
}
.header-icon-mail {
  width: 16px;
  height: 12px;
  padding-top: 2px;
}
.header-icon-mail:hover,
.header-icon-mail:after {
  fill: var(--lowblue);
}
.link-active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--lowblue);
}
.link-active:hover,
.link-active:focus,
.link-active:active {
  color: var(--lowblue);
}
.link-active .active-page {
  position: relative;
}
.active-page::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid var(--lowblue);
  width: 57px;
  padding-top: 27px;
}
.header-pages .link .link-active {
  display: block;
}
.description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray);
  text-align: left;
  letter-spacing: 0.03em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.title-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.section--gray {
  background: var(--lightgrey);
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--lowblue);
  letter-spacing: 0.03em;
}
.studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ececec;
}
.container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 24px;
  justify-content: center;
  align-items: center;
}
.first {
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-top {
  padding-bottom: 94px;
  padding-top: 94px;
  text-align: center;
  background: var(--lowgray);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.cointainer-description {
  display: flex;
  width: 1200px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hotblack);
  margin-block-end: 1em;
}
.cointainer-photo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
}
.photo-info {
  position: relative;
}
.photo-box {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
}
.photo-info .photo-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  bottom: 0;
  padding: 27px;
}
.team-john {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hotblack);
  margin-block-end: 1em;
}
.container-team ul {
  margin: 0 auto;
  width: 1200px;
}
.cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}
.name {
  font-weight: 500;
  text-align: center;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.job {
  color: var(--gray);
  text-align: center;
  margin-block-end: 1em;
}
.item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0px;
  background: var(--white);
}
.container-button {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}
.button-icon {
  display: flex;
}
button {
  cursor: pointer;
}
.button-icons {
  padding-right: 8px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 56px;
  font: inherit;
}
.buttonp {
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--hotblack);
  letter-spacing: 0.03em;
}
.button-blue {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  color: var(--hotblack);
}
.button-blue:hover,
.button-blue:after {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background: #2196f3;
  color: var(--white);
}
button:active {
  color: var(--lowblue);
}
button:hover,
button:focus {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: var(--white);
  padding: 10px 42px 10px 41px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin-block-start: 1em;
}
.container-p ul {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 94px;
}
.cardsp {
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
  padding: 0;
}
.itemsp {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.itemsp:after,
.itemsp:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio-animation {
  position: relative;
  overflow: hidden;
}
.itemsp:hover .portfolio-info {
  transform: translatey(0);
}
.portfolio-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin-left: 24px;
  letter-spacing: 0.06em;
  margin-block-start: 1em;
}
.projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--gray);
  text-align: left;
  margin-left: 24px;
  letter-spacing: 0.03em;
  margin-block-end: 1em;
}
.section-description {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-description ul {
  display: flex;
}
.section-description h5 {
  color: #757575;
  text-align: left;
  font-size: 14px;
}
.section-description p {
  text-align: left;
}
.icons-antenna {
  width: 70px;
  height: 70px;
}
.icons-antenna:hover svg,
.icons-antenna:after svg {
  fill: #2196f3;
}
.container-svg-one {
  background-color: rgba(245, 244, 250, 1);
  display: inline-block;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
}
.container-svg-john {
  display: flex;
  justify-content: center;
}
.icon-team {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-team:hover svg,
.icon-team:focus svg {
  fill: var(--white);
}
.icon-team:hover,
.icon-team:hover {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  color: var(--white);
}

.icon-team-social-div {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 1em;
}
.icons-john {
  fill: var(--nextgray);
}
.svg-client {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  left: 215px;
  top: 2493px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
}
.svg-client:hover svg,
.svg-client:hover svg {
  fill: var(--lowblue);
}
.svg-client:hover,
.svg-client:after {
  cursor: pointer;
  border: 1px solid #2196f3;
}
.svg-client-option {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.my-client {
  display: flex;
  justify-content: center;
  width: 1200px;
}
/* FOTTER */
footer {
  background: var(--lowgray);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.all-footer-container {
  display: inline-flex;
  justify-content: center;
  padding-left: 360px;
}
.fcontainer {
  padding-right: 70px;
}
.container-footer {
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--lowblue);
  letter-spacing: 0.03em;
}
.footer-studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}
.footer-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
  margin-block-end: 1em;
  margin-block-start: 1em;
  letter-spacing: 0.03em;
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-block-start: 1em;
  display: block;
  letter-spacing: 0.03em;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--lowblue);
}
/* SVG */
.footer-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.footer-social-list {
  display: flex;
}
.footer-svg {
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-svg:hover,
.footer-svg:focus {
  cursor: pointer;
  background-color: var(--lowblue);
}

.footer-social p {
  margin-bottom: 20px;
}
.svg-john {
  fill: var(--white);
}
.footer-form input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--lowgray);
  margin-left: 78px;
}

.btn-footer {
  width: 200px;
  height: 50px;
  background: var(--lowblue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white);
  position: relative;
  margin-left: 12px;
  padding-right: 30px;
}
.text-footer-form {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
  margin-left: 78px;
}
.footer-placeholder::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 47px;
  height: 20px;
}
.svg-footer-form {
  position: relative;
  fill: var(--white);
  right: 60px;
  top: 8px;
}
/* JS BACKDROP */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  min-height: 581px;
  background-color: var(--white);
}
.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* Form class */
.label-form {
  position: relative;
  display: block;
  margin-bottom: 4px;
  color: var(--lightgray);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.label-form:focus-within {
  fill: var(--lowblue);
}
.header-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 40px;
  color: var(--hotblack);
  width: 448px;
  height: 23px;
}
.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-top: 4px;
  padding-left: 30px;
}
.modal-svg {
  position: absolute;
  top: 32px;
  left: 50px;
}
.modal-textarea {
  display: block;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 40px;
  margin-top: 4px;
}
.text-modal {
  margin-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--gray);
}
.form-check {
  /* display: flex;
  justify-content: center;
  align-content: center; */
}
.form-check label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray);
}
.form-check input {
  margin-right: 9px;
  cursor: pointer;
  margin-left: 57px;
  margin-top: 20px;
}
.form-check a {
  color: var(--lowblue);
}
.modal-textarea {
  outline: none;
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal-textarea:focus {
  border: 1px solid var(--lowblue);
}
.text-check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 77px;
  margin-top: -20px;
}
input:focus {
  border: 1px solid var(--lowblue);
}
.button-form button {
  margin-left: 164px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  color: var(--white);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
}
.input-modal-check {
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: solid black 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.check-svg {
  position: relative;
  right: 27px;
  top: -2px;
}
.input-modal-check:checked {
  background-color: var(--lowblue);
  background-image: url(../images/icons.svg#icon-check2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 2px;
}
