.container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ececec;
}
.header__container {
  @extend .container;
  padding: 24px;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: getColor("black");
  letter-spacing: 0.03em;
  &--blue {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: getColor("lowblue");
    letter-spacing: 0.03em;
  }
}
.header__link--active:hover,
.header__link--active:focus,
.header__link--active:active {
  color: getColor("lowblue");
}
.header__link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid getColor("lowblue");
  width: 57px;
  padding-top: 27px;
}
.header__nav {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: 371px;
}
.header__link {
  text-decoration: none;
  color: getColor("hotblack");
  &--active {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: getColor("lowblue");
    position: relative;
  }
  &--item::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 2px;
    border-bottom: 4px solid getColor("lowblue");
    width: 57px;
    padding-top: 27px;
  }
}
.header__link:hover,
.header__link:focus {
  color: getColor("lowblue");
}
.header__link:hover svg,
.header__link:hover svg {
  fill: getColor("lowblue");
}
.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 auto;
  &:last-child {
    margin-left: 50px;
  }
}
.header__icon--mail {
  width: 16px;
  height: 12px;
  padding-top: 2px;
}
.header__icon--phone {
  width: 10px;
  height: 16px;
  padding-top: 4px;
}
.header__page .header__link .header__link--active {
  display: block;
}
