.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  border: 1px solid #ececec;
}
.header__container {
  @extend .container;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}
.header__mobile-button {
  background-color: transparent;
  border: none;
  color: none;
  background-color: getColor("white");
  padding: 0;
  margin: 0;
}
.header__mobile-button:hover,
.header__mobile-button:focus {
  fill: getColor("lowblue");
}
.header__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: getColor("black");
  letter-spacing: 0.03em;
  &--blue {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    color: getColor("lowblue");
    letter-spacing: 0.03em;
  }
}
.header__link--active:hover,
.header__link--active:focus,
.header__link--active:active {
  color: getColor("lowblue");
}
.header__link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid getColor("lowblue");
  width: 57px;
  padding-top: 27px;
}
.header__nav {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: 371px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}
.header__link {
  text-decoration: none;
  color: getColor("hotblack");
  &--active {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: getColor("lowblue");
    position: relative;
  }
  &--item::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 2px;
    border-bottom: 4px solid getColor("lowblue");
    width: 57px;
    padding-top: 27px;
  }
}
.header__link:hover,
.header__link:focus {
  color: getColor("lowblue");
}
.header__link:hover svg,
.header__link:hover svg {
  fill: getColor("lowblue");
}
.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 auto;
  display: none;
  &:last-child {
    margin-left: 50px;
  }
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: wrap;
  }
}
.header__icon--mail {
  width: 16px;
  height: 12px;
  padding-top: 2px;
}
.header__icon--phone {
  width: 10px;
  height: 16px;
  padding-top: 4px;
}
.header__page .header__link .header__link--active {
  display: block;
}
.js-close-menu {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 25px;
  top: 21px;
  font-size: 26px;
  &:hover {
    color: getColor("lowblue");
  }
}
.js-menu-container {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: getColor("white");
  transform: translateX(-150%);
  transition: transform 1s;
  z-index: 5;
}
.is-open {
  transform: translateX(0);
}
.mobile-menu__list {
  padding-top: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.02em;
  color: getColor("black");
}
.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: getColor("lowblue");
}
.mobile-menu__item--contact {
  padding-top: 302px;
}
.mobile-menu__list--blue {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: getColor("lowblue");
}
.mobile-menu__item--socials {
  padding-top: 32px;
}
.mobile-menu__list--contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: getColor("gray");
}
.mobile-menu__item--socials {
  display: flex;
  padding-left: 27px;
}
.mobile-menu__list--socials {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: getColor("lowblue");
}
