header {
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
  &__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    color: getColor("black");
    letter-spacing: 0.03em;
    &--blue {
      margin: 0;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.19;
      color: getColor("lowblue");
      letter-spacing: 0.03em;
    }
  }
  &__nav {
    display: flex;
    margin-left: auto;
    display: none;
  }
}
.header__icon--mail {
  width: 16px;
  height: 12px;
  padding-top: 2px;
}
.header__icon--phone {
  width: 10px;
  height: 16px;
  padding-top: 4px;
}
.header__page .header__link .header__link--active {
  display: block;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__navs {
    display: flex;
    margin-right: 250px;
  }
}
.header__container {
  @extend .container;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 22px;
  justify-content: space-between;
  align-items: center;
}
.header__mobile-button {
  background-color: transparent;
  border: none;
  color: none;
  cursor: pointer;
  background-color: getColor("white");
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header__mobile-button:hover,
.header__mobile-button:focus {
  fill: getColor("lowblue");
}
.header__link--active:hover,
.header__link--active:focus,
.header__link--active:active {
  color: getColor("lowblue");
}
.header__link--item::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  border-bottom: 4px solid getColor("lowblue");
  width: 57px;
  padding-top: 27px;
}
.header__link {
  text-decoration: none;
  color: getColor("hotblack");
  &--active {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: getColor("lowblue");
    position: relative;
  }
  &--item::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 2px;
    border-bottom: 4px solid getColor("lowblue");
    width: 57px;
    padding-top: 27px;
  }
}
.header__link:hover,
.header__link:focus {
  color: getColor("lowblue");
}
.header__link:hover svg,
.header__link:hover svg {
  fill: getColor("lowblue");
}
.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: none;
  &:last-child {
    margin-left: 50px;
  }
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    flex-flow: row;
    gap: 30px;
    align-items: center;
  }
  .header__nav {
    display: flex;
  }
  .header__container {
    padding: 24px;
  }
}
.js-close-menu {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 25px;
  top: 21px;
  font-size: 26px;
  cursor: pointer;
  &:hover {
    color: getColor("lowblue");
  }
}
.js-menu-container {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: getColor("white");
  transform: translateX(-150%);
  transition: transform 1s;
  z-index: 5;
}
.is-open {
  transform: translateX(0);
}
.mobile-menu {
  &__list {
    padding-top: 48px;
    padding-left: 40px;
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.02em;
    color: getColor("black");
  }
  &__item--contact {
    padding-top: 302px;
    padding-left: 40px;
  }
  &__list--blue {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: getColor("lowblue");
  }
  &__item--socials {
    padding-top: 64px;
    display: flex;
    padding-left: 40px;
  }
  &__list--contact {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: getColor("gray");
  }
  &__list--socials {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: getColor("lowblue");
    border-right: 1px solid getColor("gray");
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
    }
  }
}
.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: getColor("lowblue");
}
