.main {
  @extend .section;
  text-align: center;
  background: getColor("lowgray");
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/header-img-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/header-img-mobilex2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .main {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/header-img-tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/header-img-tabletx2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .main {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/header-img-desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/header-img-desktopx2.jpg");
  }
}
.main__container {
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  color: getColor("white");
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: getColor("white");
  padding: 10px 42px 10px 41px;
  background: getColor("lowblue");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin-block-start: 1em;
}
.article {
  padding-top: 94px;
  padding-bottom: 94px;
  &__items {
    font-size: 14px;
    color: getColor("gray");
    letter-spacing: 0.03em;
    list-style: none;
    line-height: 1.71;
    padding-left: 0px;
    margin: 0 auto;
    padding-right: 20px;
  }
  &__text {
    text-align: justify;
  }
  &__list {
    max-width: 100%;
    text-align: center;
  }
  &-hidden {
    padding-top: 94px;
    padding-bottom: 94px;
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .article-hidden {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .article__text {
    text-align: start;
  }
  .article__items {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .article__list {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  .article {
    & h5 {
      text-align: start;
      padding-left: 10px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .article__list {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}
.article__container {
  @extend .container;
}
.article-hidden__container {
  @extend .container;
  display: flex;
  justify-content: center;
}
.article__item {
  background-color: rgba(245, 244, 250, 1);
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 10px;
  margin-right: 100px;
  margin-bottom: 30px;
  width: 100%;
}
.article__text {
  font-size: 14px;
  line-height: 1.71;
  color: getColor("gray");
  text-align: start;
  padding-left: 10px;
  letter-spacing: 0.03em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.article-hidden__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hotblack);
  margin-block-end: 1em;
}
.article-hidden__box {
  position: relative;
}
.article-hidden__img {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
}
.article-hidden__name {
  @extend .article-hidden__box;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: getColor("white");
  bottom: 0;
  padding: 27px;
}
.article__icon {
  width: 70px;
  height: 70px;
  &:hover svg &:after svg {
    fill: #2196f3;
  }
}
.team {
  background: getColor("lightgray");
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  &__photo {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}
.team__container {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor("hotblack");
  margin-block-end: 1em;
}
.team__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin: 0 auto;
  gap: 30px;
  margin-right: 30px;
}
.team__list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0px;
  background: getColor("white");
}
.team__name {
  font-weight: 500;
  text-align: center;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.team__position {
  color: getColor("gray");
  text-align: center;
  margin-block-end: 1em;
}
.team__box {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 1em;
}
.team__svg {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__icon {
  fill: getColor("nextgray");
}
.team__svg:hover svg,
.team__svg:focus svg {
  fill: getColor("white");
}
.team__svg:hover,
.team__svg:hover {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  color: getColor("white");
}
@media screen and (min-width: 768px) {
  .team {
    &__item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__list {
      flex-basis: calc((100% - 1 * 30px) / 2);
    }
  }
}
@media screen and (min-width: 1200px) {
  .team {
    &__list {
      flex-basis: calc((100% - 3 * 30px) / 4);
    }
  }
}
.clients {
  &__div {
    margin-right: 30px;
    margin-bottom: 60px;
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: getColor("nextgray");
  }
  &__item {
    flex-basis: calc((100% - 1 * 30px) / 2);
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
  &__container {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 30px;
    margin-top: 60px;
  }
  &__list {
    display: flex;
    list-style: none;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__svg {
    width: 100%;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & svg {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
      border: 1px solid getColor("lowblue");
      cursor: pointer;
    }
    &:hover .clients__icon,
    &:focus .clients__icon {
      color: getColor("lowblue");
      fill: getColor("lowblue");
    }
  }

  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus .clients__svg .clients__icon {
      color: getColor("lowblue");
      fill: getColor("lowblue");
    }
    &:focus .clients__svg {
      border: 1px solid getColor("lowblue");
    }
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    &__svg {
      width: 170px;
    }
    &__list {
      & li {
        flex-basis: calc((100% - 5 * 30px) / 6);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .clients {
    &__item {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }
  }
}
