.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  min-height: 581px;
  background-color: getColor("white");
  &__button--close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: getColor("white");
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  color: var(--lightgray);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  &:focus-within {
    fill: getColor("lowblue");
  }
}
.modal_ {
  &_input {
    display: block;
    width: 448px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-left: 40px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    margin-top: 4px;
    padding-left: 30px;
  }
  &_svg {
    position: absolute;
    top: 32px;
    left: 50px;
  }
  &_textarea {
    display: block;
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 4px;
    outline: none;
  }
  &_textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding-left: 16px;
    padding-top: 12px;
  }
  &_textarea:focus {
    border: 1px solid getColor("lowblue");
  }
  &_text {
    margin-left: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: getColor("gray");
  }
  &_check label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor("gray");
  }
  &_check input {
    margin-right: 9px;
    cursor: pointer;
    margin-left: 57px;
    margin-top: 20px;
  }
  &_check a {
    color: getColor("lowblue");
  }
  &_check a:hover &-check a:focus {
    text-decoration: underline;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &_input--check {
    display: inline-flex;
    width: 16px;
    height: 15px;
    border: solid black 1px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &_input--check:checked {
    background-color: getColor("lowblue");
    background-image: url(./images/check3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 2px;
  }
}
.modal__container {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 40px;
  color: getColor("hotblack");
  width: 448px;
  height: 23px;
}
.modal__button button {
  margin-left: 164px;
  width: 200px;
  height: 50px;
  background: getColor("lowblue");
  border-radius: 4px;
  border-style: none;
  color: getColor("white");
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  &:hover &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
input:focus {
  border: 1px solid getColor("lowblue");
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
