.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 450px;
  background-color: getColor("white");
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: getColor("white");
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  &__container {
    padding: 40px;
  }
  &__instruction {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.15;
  }
  &__label {
    display: block;
    margin-bottom: 4px;
    color: getColor("lowgray");
    letter-spacing: 0.01em;
    font-size: 12px;
    line-height: 1.17;
    position: relative;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    &:focus-within {
      border-color: getColor("lowblue");
      fill: #2196f3;
      .modal__input {
        border-color: getColor("lowblue");
      }
    }
  }
  &__input {
    display: block;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-top: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  &__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    font-size: 12px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    &:focus {
      border-color: getColor("lowblue");
    }
  }
  &__checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: solid black 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    cursor: pointer;
    &:checked {
      background-color: getColor("lowblue");
      background-image: url(../images/check.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      border-radius: 2px;
    }
  }
  &__btn {
    padding: 10px 76px;
    text-align: center;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: getColor("white");
    width: 200px;
    height: 50px;
    cursor: pointer;
    &-div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }
    &:active {
      color: getColor("lowblue");
    }
    &:hover,
    &:focus {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &__icon {
    position: absolute;
    top: 32px;
    left: 12px;
  }
  &__check-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__check-link {
    color: #2196f3;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
